In [1]:
#import pymongo pacakage
import pymongo

In [2]:
#creating client to server
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [3]:
#
mydb = client["Employee"]
employeeinfo = mydb.Employeeinformation
record = {
    "firstname":"Krishnan",
    "lastname" : "s",
    "department" : "Economics"
}
employeeinfo.insert_one(record)

In [4]:
record = [{
    "firstname":"Krishnan",
    "lastname" : "K",
    "department" : "Aeronautical"
},
{
    "firstname":"Munirathinam",
    "lastname" : "k",
    "department" : "caretaker"
},
{
    "firstname" :"punithavalli",
    "lastname" :"K",
    "department":"maths"
},
{
    "firstname" : "Prabavathi",
    "lastname" : "K",
    "department" : "English"
}]

employeeinfo.insert_many(record)

In [5]:
# simple way of querying
employeeinfo.find_one()

{'_id': ObjectId('5f753323bb542c155279e8b1'),
 'firstname': 'Krishnan',
 'lastname': 's',
 'department': 'Economics'}

In [6]:
# select * from employeeinfo
for record in employeeinfo.find({}):
    print(record)

{'_id': ObjectId('5f753323bb542c155279e8b1'), 'firstname': 'Krishnan', 'lastname': 's', 'department': 'Economics'}
{'_id': ObjectId('5f753327bb542c155279e8b2'), 'firstname': 'Krishnan', 'lastname': 'K', 'department': 'Aeronautical'}
{'_id': ObjectId('5f753327bb542c155279e8b3'), 'firstname': 'Munirathinam', 'lastname': 'k', 'department': 'caretaker'}
{'_id': ObjectId('5f753327bb542c155279e8b4'), 'firstname': 'punithavalli', 'lastname': 'K', 'department': 'maths'}
{'_id': ObjectId('5f753327bb542c155279e8b5'), 'firstname': 'Prabavathi', 'lastname': 'K', 'department': 'English'}

In [8]:
for record in employeeinfo.find({"firstname":"Krishnan"}):
    print(record)

{'_id': ObjectId('5f753323bb542c155279e8b1'), 'firstname': 'Krishnan', 'lastname': 's', 'department': 'Economics'}
{'_id': ObjectId('5f753327bb542c155279e8b2'), 'firstname': 'Krishnan', 'lastname': 'K', 'department': 'Aeronautical'}

In [9]:
employeeinfo

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'Employee'), 'Employeeinformation')

In [12]:
## Query documents using query operators($in,$lt,$gt)
for record in employeeinfo.find({'department':{'$in':['Economics','maths']}}):
    print(record)

{'_id': ObjectId('5f753323bb542c155279e8b1'), 'firstname': 'Krishnan', 'lastname': 's', 'department': 'Economics'}
{'_id': ObjectId('5f753327bb542c155279e8b4'), 'firstname': 'punithavalli', 'lastname': 'K', 'department': 'maths'}

## MongoDb with python Updating Json DocumentsÂ¶
Functions to Discuss
* pymongo.collection.Collection.update_one()
* pymongo.collection.Collection.update_many()
* pymongo.collection.Collection.replace_one()

In [13]:
mydb1 = client["Inventory"]
invent = mydb1.inventory

In [14]:
invent.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [15]:
invent.update_one(
{"item":"sketchbook"},
{"$set":{"size.umo":"m","status":"P"},
"$currentDate":{"lastModified":True}}
)

In [16]:

invent.update_many(
    {"qty": {"$lt": 50}},
    {"$set": {"size.uom": "in", "status": "P"},
     "$currentDate": {"lastModified": True}})

In [17]:
invent.replace_one(
    {"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})

## Mongodb Aggregate And Group
1. avg
2. sum
3. project

In [22]:
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"harish", "subject":"Database", "score":80}, 
    {"user":"pant",  "subject":"Python", "score":90}, 
    {"user":"pant",  "title":"Database", "score":85}, 
    {"user":"harish",  "title":"Python", "score":75}, 
    {"user":"pant",  "title":"Data Science", "score":60},
    {"user":"harish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [23]:

### Find Amit And Krish Total Subjects
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [24]:

for i in agg_result: 
    print(i)

{'_id': 'harish', 'Total Subject': 3}
{'_id': 'pant', 'Total Subject': 3}

In [25]:
### Calculating the total score based on user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'harish', 'Total Marks': 250}
{'_id': 'pant', 'Total Marks': 235}

In [26]:
### Calculating the average score based on user
agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": {
            "$avg": "$score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'pant', 'StudentScoreAverage': 78.33333333333333}
{'_id': 'harish', 'StudentScoreAverage': 83.33333333333333}

In [27]:
import datetime as datetime

In [28]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [29]:

data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2020, 10, 1, 1, 45, 8, 408619)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2020, 10, 1, 1, 45, 8, 408619)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2020, 10, 1, 1, 45, 8, 409617)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2020, 10, 1, 1, 45, 8, 409617)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2020, 10, 1, 1, 45, 8, 409617)}]

In [30]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

In [31]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [32]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [33]:

# Access collection of the database  
collection=mydatabase['Books']

In [34]:
collection.insert_many(data)

In [35]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}